<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'profile', user: current_user %>
      <% else %>
        <%= render 'trends' %>
      <% end %>

      <%= render 'feed', tweeets: @tweeets %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
